html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    background-color: white;
}

.char {
    color: black;
}

.nav-link  {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: rgb(212, 61, 61);
}

.nav-link a:link {
    color: black;
    text-decoration: none;
}

.nav-link a:visited {
    color: black;
    text-decoration: none;
}

.nav-link a:active {
    color: black;
    text-decoration: none;
}

.nav-link a:hover {
    color:black;
    text-decoration: none;
}

.nakano {
    display: flex;
    gap: 30px;
}

.my {
    color: red;
}

.ketebalan {
    color: red;
    font-size: xx-large;
    font-weight: bold;
}

.Container-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 100px;
    gap: 32px;
}

.idn {
    color: black;
    font-size: x-large;
    font-weight: bold;
}

.button {
    background-color: red;
    border-radius: 20px;
    padding-top: 3px;
    padding-right: 10px;
    padding-left: 10px;
    color: black;
    font-size: large;
    border-radius: 50px;
    font-weight: bold;
}

.button:hover {
    background-color: violet;
    font-size: xx-large;
}

.gambar {
    border-radius: 40%;
}

.IGTMS {
    color: red;
    font-size: large;
    font-weight: bold;
}

.About {
    color: red;
    font-size: large;
    font-weight: bold;
}


.kolom {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px  12px rgba(0, 0, 0, 0.08);
    align-items: center;
    text-align: justify;
    flex: 1;
}


.all {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    border-radius: 12px;
}

.divisi {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}


.us {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    border-radius: 12px;
}


.Porto-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px  12px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
}

.card {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px  12px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
}

.bluei {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px  12px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
}